{% extends "base.html" %}
{% block content %}
<div class="container text-center justify-content-center">
    <!--    file upload zone    -->
    <div class="row mt-5">
       <div class="col-12">
        <form class="dropzone" id="dropzoneForm" action="/upload_file">
            {% csrf_token %}
        </form>
      </div>
    </div>

    <!--    convert form    -->
    <form id="convertform" method="post" action="/" class="form-custom">
        {% csrf_token %}
        <input type="hidden" id="file_id" name="file_id" value="0">
        <div class="row mb-5">
            <div class="col-md-12">
                <select id="avformat" name="avformat" class="selectpicker format-select">
                    <optgroup label="Video converter">
                        <option value="3gp">.3gp</option>
                        <option value="avi">.avi</option>
                        <option value="flv">.flv</option>
                        <option value="m4v">.m4v</option>
                        <option value="mkv">.mkv</option>
                        <option value="mov">.mov</option>
                        <option value="mp4">.mp4</option>
                        <option value="mpeg">.mpeg</option>
                        <option value="webm">.webm</option>
                        <option value="wmv">.wmv</option>
                    </optgroup>

                    <optgroup label="Audio Converter">
                        <option value="aac">.aac</option>
                        <option value="flac">.flac</option>
                        <option value="m4a">.m4a</option>
                        <option value="mp3">.mp3</option>
                        <option value="ogg">.ogg</option>
                        <option value="wav">.wav</option>
                        <option value="wma">.wma</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mt-1">
                <label class="mr-3">FROM</label>
                <label><input type="checkbox" checked id="startfile" name="startfile">Start of File</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="convertfrom" id="convertfrom" value="00:00:00" class="form-control" style="font-size: x-large;" disabled/>
            </div>

        </div>
        <div class="row mb-5">
            <div class="col-md-6 mt-1">
                <label class="mr-3">TO</label>
                <label><input type="checkbox" checked id="endfile" name="endfile">End of File</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="convertto" id="convertto" value="00:00:00" class="form-control" style="font-size: x-large;" disabled/>
            </div>
        </div>
        <div class="row">
            <button id="convertbtn" type="submit" class="btn btn-primary btn-block" style="height: 60px; font-size: x-large;">CONVERT AND DOWNLOAD</button>
            <a type="submit" style="height: 60px; font-size: x-large;" class="btn btn-primary btn-block" href="/">CONVERT MORE FILES</a>
        </div>
    </form>

    <!--    status div    -->
    <div class="row mt-5 mb-1">
        <p id="convert-status"></p>
        <div id="progress">
            <div class="bar"></div>
        </div>
    </div>
</div>
{% endblock %}